<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870093507073-grsj7499rrbg35k9tqe0k02vmkcn7efs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870093507073-grsj7499rrbg35k9tqe0k02vmkcn7efs</string>
	<key>API_KEY</key>
	<string>AIzaSyDfZfxa0CSDwlPjhgjJPCQhun0T1fEVN-w</string>
	<key>GCM_SENDER_ID</key>
	<string>870093507073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tristan.TimeTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>timetrackerapp-a683d</string>
	<key>STORAGE_BUCKET</key>
	<string>timetrackerapp-a683d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870093507073:ios:8691157c5f4a79035cce00</string>
</dict>
</plist>